.help-us {
    display: flex;
    justify-content: center;
    background-color: #a1a583;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    .help-us{
        flex-direction: column;
        height: auto;
        align-items: center;
        padding: 25px 0;
    }

}
