.animal-info-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    width: 450px;
    padding: 25px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 5;
}

.animal-info-container h3 {
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding: 7px;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(251, 251, 251);
    width: 150px;
    z-index: 5;
}

.animal-info-container ul li {
    line-height: 1.5rem;
    color: #FFF;

}

.animal-info-property-name{
    font-weight: 600;
}

.animal-info-container img{
    position: absolute;
    bottom: 65px;
    right: 25px;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.animal-info-container button{
    position: absolute;
    top: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    font-weight: bold;
    border-radius: 150px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.animal-info-container button:hover{
    transform: scale(1.1);

}