.logo-container{
    position: relative;
}

.logo{
    position: absolute;
    top: 25px;
    right: 25px;
    height: 175px;
    width: 175px;
    z-index: 5;
    animation: float 6s ease-in-out infinite;
}

/* Animations */

@keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  /* Media Queries */

  @media only screen and (max-width: 600px) {

    .logo{
      height: 100px;
      width: 100px;
    }
  }